:root.theme-light {
  --backgroundImage: url("../images/cover-image-light.png");
  --color_for_decoration_header: #353430;
  --colorForRectangles: #FF8DCB;
  --color_for_background: #FFF1F7;
  --ColorForTitle: #FFC2E6;
  --ColorFor_Mini_Title: #353430;
  --colorForTextInRectangles: #353430;
  --color_for_basic_text: #353430;
  --colorButtonHover: #FF8DCB66;
  --colorTextShadow: #FF8DCB;
}

.theme-light .rec-label {
  display: none;
}

.theme-light .rec_circle {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --backgroundImage: url("../images/cover-image-light.png");
    --color_for_decoration_header: #353430;
    --colorForRectangles: #FF8DCB;
    --color_for_background: #FFF1F7;
    --ColorForTitle: #FFC2E6;
    --ColorFor_Mini_Title: #353430;
    --colorForTextInRectangles: #353430;
    --color_for_basic_text: #353430;
    --colorButtonHover: #FF8DCB66;
    --colorTextShadow: #FF8DCB;
  }
  
  .rec-label {
    display: none;
  }
  
  .rec_circle {
    display: none;
  }
}
