.page {
  width: 100%;
  margin: 0 auto;
  background-attachment: fixed;
  background-image: var(--backgroundImage);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  width: 100%;
  height: 100dvh;
  min-height: 668px;
  position: relative;
}

.rec-label {
  position: absolute;
  color: var(--color_for_decoration_header);
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0;
  text-align: center;
  width: 33px;
  height: 26px;
  inset-block-start: 10px;
  inset-inline-end: 38px;
}

.rec_circle {
  position: absolute;
  width: 9px;
  height: 9px;
  inset-block-start: 18px;
  inset-inline-end: 19px;
  background-color: var(--color_for_decoration_header);
  border-radius: 100%;
  box-shadow: 0px 0px 4px 2px var(--color_for_decoration_header);
}

.header__theme-menu {
  position: absolute;
  inset-block-start: 75px;
  inset-inline-end: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  color: var(--color_for_decoration_header);
  text-transform: lowercase;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  min-width: 70px;
  height: 26px;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0;
  text-align: center;
}

.header__theme-menu-button:hover {
  opacity: 0.8;
  border: 1px solid var(--colorButtonHover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--color_for_decoration_header);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--color_for_decoration_header);
}

.main-title {
  position: absolute;
  width: 355px;
  height: 192px;
  inset-block-start: 238px;
  inset-inline-start: 10px;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  letter-spacing: 0%;
  color: var(--ColorForTitle);
  text-shadow: 4px 4px 0px var(--colorTextShadow);
}

.header-description {
  position: absolute;
  width: 355px;
  height: 117px;
  inset-block-end: 66px;
  inset-inline-end: 10px;
  background: var(--colorForRectangles);
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0.0;
  color: var(--ColorFor_Mini_Title);
}

.title-decor {
  background-color: var(--colorForRectangles);
  color: var(--ColorFor_Mini_Title);
}

.corner-bottom-left {
  position: absolute;
  width: 25px;
  height: 25px;
  inset-inline-start: var(--paddingDevice);
  inset-block-end: var(--paddingDevice);
  border-inline-start: 1px solid var(--color_for_decoration_header);
  border-block-end: 1px solid var(--color_for_decoration_header);
  z-index: 100;
}

.corner-top-right {
  position: absolute;
  width: 25px;
  height: 25px;
  inset-block-start: var(--paddingDevice);
  inset-inline-end: var(--paddingDevice);
  border-block-start: 1px solid var(--color_for_decoration_header);
  border-inline-end: 1px solid var(--color_for_decoration_header);
  z-index: 100;
}

.main {
  width: 100%;
  display: grid;
  grid-auto-rows: auto;
  gap: var(--sections-gap);
  background-color: var(--color_for_background);
  padding-inline-start: var(--paddingDevice);
  padding-inline-end: var(--paddingDevice);
}

.section {
  display: grid;
  gap: var(--insideGapSection);
  grid-auto-rows: auto;
}

.section-why {
  margin-block-start: 40px;
}

.section-title {
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0.0;
  color: var(--color_for_decoration_header);
}

.card {
  display: grid;
  gap: var(--cardGap);
  grid-template-rows: 23px 1fr;
}

.card-title {
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0.0;
  color: var(--ColorFor_Mini_Title);
  background-color: var(--colorForRectangles);
}

.card-content {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0.0;
  color: var(--colorForTextInRectangles);
}

.text {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0.0;
}

.text a {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--colorTextShadow);
  color: var(--colorForTextInRectangles);
}

.text a:hover {
  border-block-end: 1px solid var(--colorForTextInRectangles);
}

.text a:focus {
  outline: none;
}

.text a:focus-visible {
  border-block-end: 1px solid var(--colorForTextInRectangles);
}

.advice-subtitle {
  width: 355px;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--ColorFor_Mini_Title);
  background-color: var(--colorForRectangles);
}

.advice-card {
  display: grid;
  gap: var(--cardGap);
}

.advice-card-title {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--ColorFor_Mini_Title);
  background-color: var(--colorForRectangles);
}

.advice-card-content {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--colorForTextInRectangles);
}

.gallery {
  display: grid;
  gap: var(--gapBetweenImg);
  margin-block-end: var(--marginForMain);
  width: 100%;
}

.gallery-title {
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0.0;
  color: var(--ColorFor_Mini_Title);
  background-color: var(--colorForRectangles);
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  height: 100dvh;
  min-height: 668px;
  width: 100%;
  position: relative;
  background-color: var(--color_for_background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.focus {
  width: 348px;
  height: 96px;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 116px;
  line-height: 83%;
  letter-spacing: 0%;
  color: var(--ColorForTitle);
  text-shadow: 2px 2px 0px var(--colorTextShadow);
}

@media (min-width: 768px) {
  :root {
    --gapBetweenImg: 20px;
    --sections-gap: 80px;
  }
  
  .page {
    background-attachment: fixed;
    width: 100%;
  }
  
  .header {
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .rec-label {
    inset-block-start: 20px;
    inset-inline-end: 48px;
  }
  
  .rec_circle {
    inset-block-start: 28px;
    inset-inline-end: 29px;
  }
  
  .corner-top-right {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }
  
  .corner-bottom-left {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }
  
  .main-title {
    inset-block-start: 463px;
    width: 759px;
    height: 130px;
    inset-inline-start: 0px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
  .header-description {
    width: 364px;
    height: 117px;
    inset-inline-end: 20px;
    inset-block-end: 183px;
  }
  
  .section-why {
    grid-template-columns: 236px 472px;
    margin-block-start: 60px;
  }
  
  .section-title {
    grid-row: 1 / span 2;
  }
  
  .section-distractions {
    grid-template-rows: 70px repeat(3, auto);
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .title_concentration {
    grid-row: 1/1;
    grid-column: 1/1;
  }
  
  .multiCard {
    grid-row: 2/2;
    grid-column: 1/4;
  }
  
  .eatCard {
    grid-row: 3/3;
    grid-column: 1/4;
  }
  
  .GadgetsCard {
    grid-row: 4/4;
    grid-column: 1/4;
  }
  
  .section-advice {
    grid-template-columns: 236px 472px;
    grid-auto-rows: repeat(6, auto);
  }
  
  .bestConcentration {
    grid-column: 1/1;
    grid-row: 1 / span 6;
  }
  
  .advice-subtitle {
    width: 100%;
  }
  
  .gallery {
    width: 100%;
    gap: var(--gapBetweenImg);
    grid-template-columns: repeat(3, 1fr);
  }
  
  .gallery-title {
    grid-column: 1 / -1;
  }
  
  .gallery-image:nth-of-type(1) {
    grid-column: 1 / 3;
    grid-row: 2;
  }
  
  .gallery-image:nth-of-type(2) {
    grid-column: 3;
    grid-row: 2 / 4;
  }
  
  .gallery-image:nth-of-type(3) {
    grid-column: 1;
    grid-row: 3 / 5;
  }
  
  .gallery-image:nth-of-type(4) {
    grid-column: 2;
    grid-row: 3;
  }
  
  .gallery-image:nth-of-type(5) {
    grid-column: 2 / 4;
    grid-row: 4;
  }
  
  .focus {
    font-size: 157px;
    width: 471px;
    height: 130px;
  }
  
  .header__theme-menu {
    inset-inline-end: 20px;
    inset-block-start: 192px;
  }
  
  .header__theme-menu-list {
    gap: 10px;
  }
  
  .header__theme-menu-button {
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  :root {
    --gapBetweenImg: 20px;
    --sections-gap: 80px;
  }
  
  .page {
    background-attachment: fixed;
    width: 100%;
  }
  
  .header {
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .rec-label {
    inset-block-start: 20px;
    inset-inline-end: 48px;
  }
  
  .rec_circle {
    inset-block-start: 28px;
    inset-inline-end: 29px;
  }
  
  .corner-top-right {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }
  
  .corner-bottom-left {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }
  
  .main-title {
    inset-block-start: 319px;
    width: 759px;
    height: 130px;
    inset-inline-start: 0px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
  .header-description {
    inset-inline-end: 20px;
    inset-block-end: 135px;
    width: 491px;
    height: 71px;
  }
  
  .section-why {
    grid-template-columns: 315px 1fr;
    margin-block-start: 60px;
  }
  
  .section-title {
    grid-row: 1/ span 2;
  }
  
  .section-distractions {
    grid-template-rows: 47px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .title_concentration {
    grid-row: 1/1;
    grid-column: 1/1;
  }
  
  .multiCard {
    grid-row: 2/2;
    grid-column: 1/1;
  }
  
  .eatCard {
    grid-row: 2/2;
    grid-column: 2/2;
  }
  
  .GadgetsCard {
    grid-row: 2/2;
    grid-column: 3/3;
  }
  
  .section-advice {
    grid-template-columns: 315px 1fr;
    grid-auto-rows: repeat(auto, 6);
  }
  
  .bestConcentration {
    grid-column: 1/1;
    grid-row: 1 / span 6;
  }
  
  .advice-subtitle {
    width: 100%;
  }
  
  .gallery {
    width: 100%;
    gap: var(--gapBetweenImg);
    grid-template-columns: repeat(3, 1fr);
  }
  
  .gallery-title {
    grid-column: 1 / -1;
  }
  
  .gallery-image:nth-of-type(1) {
    grid-column: 1 / 3;
    grid-row: 2;
  }
  
  .gallery-image:nth-of-type(2) {
    grid-column: 3;
    grid-row: 2 / 4;
  }
  
  .gallery-image:nth-of-type(3) {
    grid-column: 1;
    grid-row: 3 / 5;
  }
  
  .gallery-image:nth-of-type(4) {
    grid-column: 2;
    grid-row: 3;
  }
  
  .gallery-image:nth-of-type(5) {
    grid-column: 2 / 4;
    grid-row: 4;
  }
  
  .focus {
    font-size: 157px;
    width: 471px;
    height: 130px;
  }
  
  .header__theme-menu {
    position: static;
    margin-block-start: 20px;
  }
  
  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .header__theme-menu-button {
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
  }
}
